<ion-view ng-controller="contactsCtrl" title="Contacts" id="page7" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="contacts-form3" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <ion-list>
            <ion-item ng-repeat="contact in contacts" ui-sref="menu.contactDetails">
                <i class="icon ion-ionic"></i>  {{contact.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
