<ion-view title="New Contact" id="page4" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="newContact-form4" class="list ">
            <label class="item item-input " id="newContact-input7">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input " id="newContact-input8">
                <span class="input-label">E-Mail</span>
                <input type="email" placeholder="E-Mail">
            </label>
            <label class="item item-input " id="newContact-input9">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="Phone Number">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 211px;"></div>
        <a ui-sref="menu.contacts" id="newContact-button3" class=" button button-positive  button-block icon-left ion-android-add ">Add</a>
    </ion-content>
</ion-view>